.styler {background-image: url("");
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
    display:;
    place-content:;
    text-align:;
    min-height:;
   
    
    position:;
    isolation:;
    }
  .styler::after{
    content:;
    position:;
    z-index:;
    inset:;
    background:;
    opacity:;
  }
  
   
  h1{font-size:;
    color:;
  
   }
  button{
    font-weight:; 
    font-size:;
    background:;
  }
  h2{font-size:;
    color:;
    text-align:;
  }
  h3{
    font-size:;
    line-height:;
    color:;
    text-align:;
    place-content:;
    
  }
  h4{
    font-size:;
    line-height:;
    color:;
    padding:;
     border-left:;
  }
  ul{
    font-size:;
    line-height:;
    color:;
  }
  ul2{
    text-decoration:;
    color:;
  }
 